<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
	    <param name = "gfan_statistics_appkey" required = "1" desc = "gfan" showName = "AppKey" bWriteIntoManifest = "1" bUserOffer = "1"/>
	    <param name = "gfan_cpid" required = "1" desc = "gfan" showName = "ChannelID" bWriteIntoManifest = "1" bUserOffer = "1"/>
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "gfan"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AnalyticsGfan" typePlugin = "5" desc = "gfan"/>
	</pluginLs>
</config>