<?xml version="1.0" encoding="utf-8"?>
<config>
    	<SDKLs>
		<SDK SDKName = "Banner" SDKType = "16" SDKShowName = "Banner">
			<param name = "PBBannerUnitId" required = "0" desc = "广告位" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
			<param name = "PBBannerRequestInterval" required = "1" desc = "请求间隔时长，默认15" showName = "IntervalTime" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0" />
			<param name = "PBBannerPos" required = "1" desc = "Banner" showName = "显示位置" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
			    <option value = "center"/>
				<option value = "top-middle"/>
				<option value = "top-left"/>
				<option value = "top-right"/>
				<option value = "bottom-middle"/>
				<option value = "bottom-left"/>
				<option value = "bottom-right"/>
			</param>
		</SDK>
		<SDK SDKName = "FullScreen" SDKType = "16" SDKShowName = "插屏广告">
			<param name = "PBFullScreenUnitId" required = "0" desc = "广告位" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "PBFullScreenScale" required = "1" desc = "广告显示比例大于0.5，小于等于1" showName = "Scale" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		</SDK>
		<SDK SDKName = "MoreAPP" SDKType = "16" SDKShowName = "精品广告">
			<param name = "PBMoreAPPUnitId" required = "0" desc = "广告位" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "PBMoreAPPScale" required = "1" desc = "广告显示比例大于0.5，小于等于1" showName = "Scale" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		</SDK>
		<SDK SDKName = "OfferWall" SDKType = "16" SDKShowName = "积分墙">
			<param name = "PBOfferWallUnitId" required = "0" desc = "广告位" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "PBOfferWallScale" required = "1" desc = "广告显示比例大于0.5，小于等于1" showName = "Scale" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		</SDK>

	</SDKLs>
	<paramLs>
		<param name = "chukong_publisherid" required = "1" desc = "Punchbox广告" showName = "appID" bWriteIntoManifest = "1" bUserOffer = "1"/>	
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "Punchbox广告"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "Punchbox广告"/>
		<operate step = "3" name = "script" desc = "Punchbox广告 修改smail"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AdsPunchbox" typePlugin = "1" desc = "Punchbox广告"/>
	</pluginLs>
	<version code = "1002" showVersion = "2.0.2_4.2.2" >
		<![CDATA[
		由2.0.1.1_4.2.2更新到2.0.1.1_4.2.2<br/>
		畅思广告支持多unit id <br/>
	]]>
    </version>
</config>