<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
	    <param name = "DC_APPID" required = "1" desc = "应用ID" showName = "AppId" bWriteIntoManifest = "1" bUserOffer = "1"/>
	    <param name = "DC_CHANNEL" required = "1" desc = "渠道ID" showName = "ChannelID" bWriteIntoManifest = "1" bUserOffer = "1"/>
	    <param name = "DCReportMode" required = "1" desc = "数据上报模式" showName = "ReportMode" bWriteIntoManifest = "0" bUserOffer = "1">
			<option value = "DEFAULT"/>
			<option value = "AFTER_LOGIN"/>
		</param>
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "DataEye"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AnalyticsDataEye" typePlugin = "5" desc = "DataEye"/>
	</pluginLs>
</config>