<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="102">
  <paramLs>
    <param
        name="appId"
        required="0"
        showName="appId"
        desc="movga提供,在asset中的Movga.SDK.xml已经配置"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>
        
    <param
        name="pubkey"
        required="0"
        showName="验签公钥"
        desc="movga提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>           
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="movga"/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc="movga"/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc="movga"/>
    <operate step="4" name="copy" from="ForRes" to="res" desc="movga"/>
    <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserMovga" typePlugin="0" desc=""/>
    <plugin name="IAPOnlineMovga" typePlugin="2" desc=""/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_1.0.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2.0.6_1.0.0]]>
    </version>
</config>
