<?xml version="1.0" encoding="utf-8"?>
<config version="1000" showVersion="2.0.0_3.0.5" date="20140410">
	<paramLs>
	    <!-- 开发者相关参数 -->
	    <param name = "gameName" required = "1" desc = "游戏名称" showName = "gameName" bWriteIntoManifest = "1" bUserOffer = "1" />
	    <param name = "companyName" required = "1" desc = "公司名称" showName = "companyName" bWriteIntoManifest = "1" bUserOffer = "1" />
	    <param name = "support-email" required = "1" desc = "客服邮箱" showName = "support-email" bWriteIntoManifest = "1" bUserOffer = "1" />
	    <param name = "support-phone" required = "1" desc = "客服电话" showName = "support-phone" bWriteIntoManifest = "1" bUserOffer = "1" />
	    <param name = "gameType" required = "1" desc = "游戏类型" showName = "gameType" bWriteIntoManifest = "1" bUserOffer = "1" >
			<option value = "单机游戏"/>
	    </param>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "chukong"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "cm_jd"/>
		<operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "cm_jd"/>
		<operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "cm_jd"/>
		<operate step = "5" name = "script" from = "script.py" desc = "移动基地的特殊操作"/>
		<operate step = "6" name = "mergeR" desc = "chukong(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserCM_jd_single" typePlugin = "0" desc = "cm_jd"/>
		<plugin name = "IAPOnlineCM_jd_single" typePlugin = "2" desc = "cm_jd"/>
	</pluginLs>
</config>