<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "AlipaySinglePartner" required = "1" desc = "AlipaySingle" showName = "partner" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "AlipaySingleSeller_id" required = "1" desc = "AlipaySingle" showName = "seller_id" bWriteIntoManifest = "0" bUserOffer = "1" />
		<param name = "AlipaySinglePrivateKey" required = "1" desc = "AlipaySingle" showName = "privateKey" bWriteIntoManifest = "0" bUserOffer = "1" />
		<param name = "AlipaySinglePublicKey" required = "1" desc = "AlipaySingle" showName = "publicKey" bWriteIntoManifest = "0" bUserOffer = "1" />
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "AlipaySingle"/>
		<operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "AlipaySingle"/>
		<operate step = "3" name = "mergeR" desc = "AlipaySingle(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	<pluginLs>
		<plugin name = "IAPAlipaySingle" typePlugin = "2" desc = "AlipaySingle"/>
	</pluginLs>
</config>