<?xml version="1.0" encoding="utf-8"?>
  <config pluginId="52">
    <paramLs>
        <param name = "AmigoAPIKey" required = "1" desc = "Amigo唯一标识" bUserOffer="1" bWriteIntoManifest="0" bWriteIntoClient="1" showName="APIKey"/>
        <param name = "AmigoSecretKey" required = "1" desc = "SecretKey" bUserOffer="1" bWriteIntoManifest="0" bWriteIntoClient="1" showName="SecretKey"/>
        <param name = "AmigoRSAPrivate" required = "1" desc = "支付私钥" bUserOffer="1" bWriteIntoManifest="0" bWriteIntoClient="1" showName="支付私钥"/>
        <param name = "AmigoRSAPublic" required = "1" desc = "支付公钥" bUserOffer="1" bWriteIntoManifest="0" bWriteIntoClient="1" showName="支付公钥"/>
        <param name = "AmigoIsAutoLogin" required = "1" desc = "是否自动登录" bUserOffer="1" bWriteIntoManifest="0" bWriteIntoClient="1" showName="是否自动登录">
            <option value="true"/>
            <option value="false" />
        </param>
        <param name = "callback" required = "1" desc = "支付通知地址" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
    </paramLs>
    
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="jinli"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="jinli"/>
        <operate step="3" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    
    <pluginLs>
        <plugin name = "UserAmigo" typePlugin = "0" desc = "金立插件"/>
        <plugin name = "IAPOnlineAmigo" typePlugin = "2" desc = "金立插件"/>
    </pluginLs>
    
    <version
        code="1010"
        showVersion="2.1.0_3.0.1.i"
        minClientVer="2.0"
        minFrameworkVer="2.0" >
        <![CDATA[更新至3.0.1.i]]>
    </version>
  </config>