<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
        
        <param name = "UUCUN_CHANNELID" required = "1" desc = "渠道id" showName = "ChanleId" bWriteIntoManifest = "1" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name = "UUCUN_APPKEY" required = "1" desc = "应用key" showName = "AppKey" bWriteIntoManifest = "1" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name = "3KWAN_GAMEID" required = "1" desc = "游戏id" showName = "GameId" bWriteIntoManifest = "1" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name = "3KWAN_GAMENAME" required = "1" desc = "游戏名" showName = "GameName" bWriteIntoManifest = "1" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name = "3KWAN_Platform_ChanleId" required = "1" desc = "渠道平台id" showName = "PlatformChanleId" bWriteIntoManifest = "1" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name="3KWAN_HasLogo" required="1" showName="DebugLog" desc="是否有Log" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        <param name = "Rate" required = "1" desc = "人民币与游戏币比例" showName = "Rate" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name = "ProductName" required = "1" desc = "商品名" showName = "ProductName" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
        <param name="Orientation" required="1" showName="Orientation" desc="SDK的横竖屏类型" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value = "landscape"/>
            <option value = "portrait"/>
        </param>
        <param name="Debug" required="1" showName="DebugMode" desc="调试模式" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        <param name = "Location" required = "1" desc = "浮窗位置" showName = "Location" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1">
            <option value="LEFT_TOP"/>
            <option value="LEFT_CENTER_VERTICAL"/>
            <option value="LEFT_BOTTOM"/>
            <option value="RIGHT_TOP"/>
            <option value="RIGHT_CENTER_VERTICAL"/>
            <option value="RIGHT_BOTTOM"/>
        </param>
        <param name="AllowPay" required="1" showName="允许支付" desc="允许支付" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        <param name = "AllowPayDes" required = "1" desc = "不允许支付说明" showName = "不允许支付说明" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
        
		<param name = "callback" required = "1" desc = "支付回调地址" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "kkkwan"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "kkkwan"/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "kkkwan"/>
		<operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "kkkwan"/>
		<operate step = "5" name = "script" desc = "更改3kwan的manifest"/>
		<operate step = "6" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserKkk5uucun" typePlugin = "0" desc = "用户插件"/>
		<plugin name = "IAPOnlineKkk5uucun" typePlugin = "2" desc = "支付插件"/>
	</pluginLs>
	<version code = "1008" showVersion = "1.0.0_3.0.0" >
        <![CDATA[
    ]]>
    </version>
</config>