<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="PadaAppId" required="1" showName="AppId" desc="应用id" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="PadaAppKey" required="1" showName="AppKey" desc="应用key" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="PadaAppSecretKey" required="1" showName="AppSecretKey" desc="签名校验key" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="0"/>
        <param name="PadaGameType" required="1" showName="游戏类型" desc="游戏类型 单机 联网 " bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1">
            <option value="onLine"/>
            <option value="offLine"/>
        </param>
        <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>
    <operateLs>
        <operate step="1" name="copy" from="ForAssets" to="assets" desc="padaGame"/>
    </operateLs>
    <pluginLs>
        <plugin name="UserPadaGame" typePlugin="0" desc="艺果用户插件"/>
        <plugin name="IAPOnlinePadaGame" typePlugin="2" desc="艺果支付插件"/>
    </pluginLs>
</config>