<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="100008">
  <paramLs>
    <param
        name="EfunruChannelType"
        required="1"
        showName="EfunruChannelType"
        desc="google表示google版,efun表示第三方版"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="google"/>
        <option value="efun"/>n
    </param>
    
    <param
        name="EfunruShareType"
        required="1"
        showName="EfunruPayType"
        desc="分享类型"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="facebook"/>
        <option value="vk"/>
    </param>
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="efun"/>
    <operate step="2" name="copy" from="ForRes" to="res" desc="efun"/>
    <operate step="3" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserEfunru" typePlugin="0" desc="efun用户插件"/>
    <plugin name="IAPOnlineEfunru" typePlugin="2" desc="efun支付插件"/>
    <plugin name="ShareEfunru" typePlugin="4" desc="efun支付插件"/>
    <plugin name="AnalyticsEfunru" typePlugin="5" desc="efun支付插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_6.12" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[6月12日发行的sdk]]>
    </version>
</config>
