<?xml version="1.0" encoding="utf-8"?>
<config>
    <paramLs>
	</paramLs>
	
	<operateLs>
	</operateLs>
	
    <pluginLs>
        <plugin name = "IAPAppStore" typePlugin = "2" desc = "AppStore"/>
    </pluginLs>
    <sysFrameworksLs>
		<sysFrameworks name = "StoreKit.framework" path = "xcodeFrameworks"/>
 	</sysFrameworksLs>
    <version code = "1000" showVersion = "2.0.0_6.0.0" >
        <![CDATA[
    12月1日新增AppStore插件<br/>

    ]]>
    </version>
</config>