<?xml version="1.0" encoding="utf-8"?>
  <config pluginId="42">
    <paramLs>

        <param
            name="gid"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="由搜狗游戏平台统一分配"
            placeholderText="sougou gid"
            required="1"
            showName="gid" />

        <param
            name="gameName"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="游戏名称"
            placeholderText="游戏货币名字"
            required="1"
            showName="gameName" />

        <param
            name="appKey"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="由搜狗游戏平台统一分配"
            placeholderText="sougou appKey"
            required="1"
            showName="appKey" />

        <param
            name="orientation"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="调sdk时的界面方向"
            required="1"
            showName="界面方向" >

            <option value="landscape" />

            <option value="portrait" />
        </param>

        <param
            name="developMode"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="是否为测试模式，一般设置为false"
            required="1"
            showName="developMode" >
            <option value="true" />
            <option value="false" />
        </param>

        <param
            name="currency"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="游戏中货币名字"
            placeholderText="游戏中货币名字"
            required="1"
            showName="currency" />

        <param
            name="rate"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="人民币与游戏币间的兑换比例"
            placeholderText="兑换比例"
            required="1"
            showName="rate" />

        <param
            name="amountEditable"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="金额是(true)否(false)可编辑"
            placeholderText="金额是(true)否(false)可编辑"
            required="0"
            showName="amountEditable" >
            <option value="true" />
            <option value="false" />
        </param>

        <param
            name="app_secret"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="sougou app_secret"
            required="1"
            showName="app_secret" />

        <param
            name="pay_key"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="sougou pay_key"
            required="1"
            showName="pay_key" />
    </paramLs>

    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "sougou assistant"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "sougou assistant"/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "sougou assistant"/>
        <operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "sougou assistant"/>
        <operate step = "5" name = "mergeR" desc = "sougou assistant"/>
    </operateLs>
    <pluginLs>
        <plugin name = "UserSogouGame" typePlugin = "0" desc = "搜狗用户插件"/>
        <plugin name = "IAPSogouGame" typePlugin = "2" desc = "搜狗支付插件"/>
    </pluginLs>
      <version code = "1005" showVersion = "2.0.5_1.4.29" minClientVer="1.4" minFrameworkVer="1.4">
        <![CDATA[2015年8月11日 更新至1.4_29版本<br/>]]>
    </version>
  </config>