<?xml version="1.0" encoding="UTF-8"?>

<config>
    <paramLs>
        <param name="AppId" required="1" showName="AppId" desc="AppId" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="AppSecret" required="1" showName="AppSecret" desc="AppSecret" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="channel_id" required="1" desc="channel_id" showName="channel_id" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1" />
        <param name="IsDebug" required="1" desc="true 代表测试环境 ，false 正式环境" showName="IsDebug" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1" >
             <option value = "true"/>
             <option value = "false"/>
        </param>
    </paramLs>
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="xianyu"/>
        <operate step="2" name="copy"  from="ForAssets"  to="assets" desc="xianyu" />
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="xianyu"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="xianyu"/>
        <operate step="5" name="script" desc=""/>
        <operate step="6" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <pluginLs>
        <plugin name="IAPOnlineXianyu" typePlugin="2" desc="咸鱼支付插件"/>
        <plugin name="UserXianyu" typePlugin="0" desc="咸鱼用户插件"/>
    </pluginLs>
</config>
