<?xml version="1.0" encoding="utf-8"?>
<config pluginId="100012">
    <paramLs>

        <param
        name="Orientation"
        bUserOffer="1"
        bWriteIntoClient="1"
        bWriteIntoManifest="0"
        desc="屏幕朝向"
        required="1"
        showName="Orientation" >

        <option value="landscape" />

        <option value="portrait" />
        </param>

        <param name = "resource" required = "1" desc = "RgameSDK.xml" showName = "配置文件" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
            <input type="file" />
        </param>
    </paramLs>
    
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = ""/>
        <operate step = "2" name = "copy" from = "ForRes" to = "res" desc = ""/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = ""/>
        <operate step = "4" name = "script" desc = ""/>
        <operate step = "5" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>
    
    <pluginLs>
        <plugin name = "UserRgame" typePlugin = "0" desc = ""/>
        <plugin name = "AnalyticsRgame" typePlugin = "5" desc = "AnalyticsRgame"/>
    </pluginLs>
    <version code = "1014" showVersion = "2.1.4_1.1.6" minClientVer="1.5"
        minFrameworkVer="1.5">
        <![CDATA[2015年7月2日 更新至1.1.6版本 ]]>
    </version>
</config>