<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="APP_ID" required="1" showName="APP_ID" desc="应用标识 ID" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="WanpuAppPid" required="1" showName="APP_PID" desc="应用的发布渠道标识" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="WanpuKey" required="1" showName="key" desc="支付key" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="0"/>
        <param name="WanpuTitleColor" required="1" showName="标题栏颜色" desc="万普标题栏颜色" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1" placeholderText="#4388dc"/>
        <param name="Orientation" required="1" showName="Orientation" desc="屏幕方向" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1">
            <option value="landscape"/>
            <option value="portrait"/>
        </param>

        <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="wanpu"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="wanpu"/>
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="wanpu"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="wanpu"/>
        <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <pluginLs>
        <plugin name="UserWanpu" typePlugin="0" desc="万普用户插件"/>
        <plugin name="IAPOnlineWanpu" typePlugin="2" desc="万普支付插件"/>
    </pluginLs>
</config>