<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "merchant_id" required = "1" desc = "bilibili" showName = "merchant_id" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "app_id" required = "1" desc = "bilibili" showName = "app_id" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "server_id" required = "1" desc = "bilibili" showName = "server_id" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "app_key" required = "1" desc = "bilibili" showName = "app_key" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "rate" required = "1" desc="bilibili" showName = "rate" bWriteIntoClient="1" bUserOffer="1" bWriteIntoManifest="0" placeholderText="游戏币兑换比例"/>
         <param name = "Debug" required = "1" desc = "Debug" showName = "debug" bWriteIntoManifest = "0" bUserOffer = "1"  bWriteIntoClient = "1"  >
        	 <option value = "false"/>
         	 <option value = "true"/>
    	</param>
        <param name = "secret_key" required = "1" desc = "bilibili" showName = "secret_key" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "callback" required = "1" desc = "bilibili" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
		<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "bilibili"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "bilibili"/>
		<operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "bilibili"/>
		<operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	    <version code = "1007" showVersion = "2.0.7_1.1" >
        <![CDATA[
        1.支持登出(logout)</br>
		2.不支持客户端配置回调地址</br>
    ]]>
    </version>
	<pluginLs>
		<plugin name = "UserBilibili" typePlugin = "0" desc = "bilibili"/>
		<plugin name = "IAPOnlineBilibili" typePlugin = "2" desc = "bilibili"/>
	</pluginLs>
</config>