<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="100119">
    <paramLs>
        <param
            name="tnkad_tracking"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="tnkad_tracking"
            required="1"
            showName="tnkad_tracking" >
            <option value="true" />
            <option value="false" />
        </param>
        <param
            name="tnkad_app_id"
            bUserOffer="1"
            bWriteIntoManifest="1"
            bWriteIntoClient="1"
            desc="tnkad_app_id"
            required="1"
            showName="tnkad_app_id" />

    </paramLs>
    
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc=""/>
        <operate step="2" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <pluginLs>
        <plugin name="AnalyticsTnkfactory" desc="talkingdata" typePlugin="5" />
    </pluginLs>
    <version code = "1006" showVersion = "2.0.6_2.5.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2015年8月18日 更新至2.5.0]]>
    </version>
</config>