<?xml version="1.0" encoding="utf-8"?>
<config>

    <paramLs>
        <param
            name="XiaoMiAppId"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="小米应用ID"
            required="1"
            showName="AppId" />

        <param
            name="XiaoMiAppKey"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="小米应用key"
            required="1"
            showName="AppKey" />

        <param
            name="AppSecret"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="小米应用秘钥"
            required="1"
            showName="AppSecret" />

       <!-- <param
            name="XiaoMiPayMode"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="xiaomi"
            required="1"
            showName="PayMode" >
            <option value="custom" />
            <option value="simple" />
        </param>
        -->
       
        <param
            name="XiaoMiAppType"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="应用类型（网游/单机）"
            required="1"
            showName="AppType" >
            <option value="online" />
            <option value="offline" />
        </param>
        
        <param
            name="XiaoMiOrientation"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="横/竖屏选项"
            required="1"
            showName="Orientation" >
            <option value="landscape" />
            <option value="portrait" />
        </param>
    </paramLs>

    <operateLs>
        <operate step="1" name="modifyManifest" desc="xiaomi" from="ForManifest.xml" to="AndroidManifest.xml" />
        <operate step="2" name="copy" desc="xiaomi" from="ForAssets" to="assets" />
    </operateLs>

    <pluginLs>
        <plugin name="UserXiaoMi" desc="xiaomi" typePlugin="0" />
        <plugin name="IAPOnlineXiaoMi" desc="xiaomi" typePlugin="2" />
    </pluginLs>

    <version
        code="1008"
        showVersion="2.0.8_4.3.9" >
<![CDATA[
         2015年7月22日更新到4.3.90版本<br/>
    ]]>
    </version>

</config>