<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="7">
    <paramLs>
        <param name="OPPOAppKey" required="1" showName="AppKey" desc="AppKey" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="OPPOGameId" required="1" showName="GameID" desc="GameID" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="ProductName" required="1" showName="商品名" desc="商品名，如：钻石" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="app_key" required="1" showName="metakey" desc="与appkey值一样，meta-data中使用" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="debug_mode" required="1" showName="OPPO调试模式" desc="是否输出OPPO调试日志" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        <param name="is_offline_game" required="1" showName="是否单机游戏" desc="true = 单机游戏，false ＝ 网络游戏" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
    </paramLs>
    
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "oppo"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "oppo"/>
        <operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "oppo"/>
        <operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>
    
    <pluginLs>
        <plugin name="UserOPPO" typePlugin="0" desc="oppo用户插件"/>
        <plugin name="IAPOnlineOPPO" typePlugin="2" desc="oppo支付插件"/>
    </pluginLs>
    <version code = "1012" showVersion = "2.1.2_1.6.7" minClientVer="1.5" minFrameworkVer="1.5">
          <![CDATA[更新框架2.0]]>
    </version>
</config>