<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="PopGameAppId" required="1" showName="AppId" desc="应用appid" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="PopGameAppKey" required="1" showName="AppKey" desc="应用key" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="PopGameChannel" required="1" showName="channel" desc="渠道编号，用于区分和统计不同的渠道。" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1" placeholderText="默认值:10000"/>
        <param name="PopGameScreenOrientation" required="1" showName="Orientation" desc="界面方向" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1">
            <option value="portrait"/>
            <option value="landscape"/>

        </param>
        <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="popGame"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="popGame"/>
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="popGame"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="popGame"/>
        <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <pluginLs>
        <plugin name="IAPOnlinePopGame" typePlugin="2" desc="糖果支付插件"/>
        <plugin name="UserPopGame" typePlugin="0" desc="糖果游戏用户插件"/>
    </pluginLs>
</config>