<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="000104">
  <paramLs>
      <param
          name="needEmailWhenlogin"
          required="1"
          showName="needEmailWhenlogin"
          desc="fb登录时是否需要获取用户email"
          bWriteIntoManifest="0"
          bUserOffer="1"
          bWriteIntoClient="1">
          <option value="false"/>
          <option value="true"/>
      </param>
      <param
          name="needFriendsWhenlogin"
          required="1"
          showName="NeedFriends_Whenlogin"
          desc="登陆需要授予获取好友权限"
          bWriteIntoManifest="0"
          bUserOffer="1"
          bWriteIntoClient="1">
          <option value="false"/>
          <option value="true"/>
      </param>
      <param
          name="NeedLogFlag"
          required="1"
          showName="NeedLogFlag"
          desc="游戏onresume回来会黑屏的选false"
          bWriteIntoManifest="0"
          bUserOffer="1"
          bWriteIntoClient="1">
          <option value="false"/>
          <option value="true"/>
      </param>
    <param
        name="facebookAppId"
        required="1"
        showName="facebookAppId"
        desc=""
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="facebook_deeplink_scheme"
        required="1"
        showName="facebook_deeplink_scheme"
        desc="facebook_deeplink_scheme,需要配置deeplink scheme时填写"
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="facebook_deeplink_host"
        required="1"
        showName="facebook_deeplink_host"
        desc="facebook_deeplink_host,需要配置deeplink host时填写"
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param name="callback" required="0" desc="支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>    
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc=""/>
    <operate step="2" name="copy" from="ForRes" to="res" desc=""/>
    <operate step="3" name="script" desc=""/>
    <operate step="4" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserFacebook323" typePlugin="0" desc="用户插件"/>
    <plugin name="ShareFacebook323" typePlugin="4" desc="分享插件"/>
    <plugin name="SocialFacebook323" typePlugin="3" desc="社交插件"/>
    <plugin name="AnalyticsFacebook323" typePlugin="5" desc="统计插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_2.5.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2015年8月18日 更新至2.5.0]]>
  </version>
</config>
