<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param
            name="QQ_APP_ID"
            required="1"
            showName="QQ_APP_ID"
            desc="手Q应用id"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="手QAppId"/>
            
        <param
            name="WX_APP_ID"
            required="1"
            showName="WX_APP_ID"
            desc="WX_APP_ID"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>
            
        <param
            name="OFFER_ID"
            required="1"
            showName="OFFER_ID"
            desc="OFFER_ID，与QQ_APP_ID相同"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>
        
        <param
            name="YSDK_URL"
            required="1"
            showName="YSDK_URL"
            desc="YSDK_URL，沙箱模式选带test的域名"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1">
            <option value="https://ysdk.qq.com"/>
            <option value="https://ysdktest.qq.com"/>
        </param>
        
        <param
            name="tcRate"
            required="1"
            showName="支付汇率"
            desc="1元人民币=1Q币=10个游戏币，请添加10"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="1元人民币=1Q币=10个游戏币，请添加10"/>
            
        <param
            name="tencentSubChannel"
            required="1"
            showName="子渠道号"
            desc="子渠道号，会加到trade_type后面"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>  
        <param
            name="tcCheckBalance"
            required="1"
            showName="查询游戏币余额URL"
            desc="查询游戏币余额URL"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="查询游戏币余额URL"/>            
    </paramLs>
    
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="tencent"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="tencent"/>
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="tencent"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="tencent"/>
        <operate step="5" name="script" desc="tencent"/>
        <operate step="6" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <operateLs/>
    <pluginLs>
        <plugin name="UserTencent" typePlugin="0" desc="应用宝用户插件"/>
        <plugin name="IAPOnlineTencent" typePlugin="2" desc="腾讯支付插件"/>
    </pluginLs>
    <version code = "1002" showVersion = "2.0.2_2.8.1a_2.5.0f" >
        <![CDATA[
       2015年11月9日更新应用宝插件<br/>
       支付为2.5.0f
    ]]>
    </version>
</config>