<?xml version="1.0" encoding="utf-8"?>
<config pluginId = "15">
	<paramLs>
		<param name = "HuaWeiAppId" required = "1" desc = "AppId" showName = "App ID" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name = "HuaWeiBuoyKey"  required = "0"  desc = "浮标密钥" showName = "浮标密钥" bWriteIntoManifest="0" bUserOffer = "1"/>
		<param name = "HuaWeiPayId" required = "1" desc = "支付id" showName = "支付ID" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name = "HuaWeiCpName" required = "1" desc = "支付cp商家名称" showName = "支付商家名称" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "HuaWeiRsaPrivate" required = "1" desc = "支付私钥" showName = "支付私钥" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name = "Orientation" required = "1" desc = "横竖屏" showName = "Orientation" bWriteIntoManifest = "0" bUserOffer = "1"  bWriteIntoClient = "1"  >
         <option value = "portrait"/>
         <option value = "landscape"/>
        </param>
        <param name = "HuaWeiGameEngineType" required = "1" desc = "是否是coco2d或unity3D引擎" showName = "cocos2d_or_unity3d" bWriteIntoManifest = "0" bUserOffer = "1"  bWriteIntoClient = "1"  >
         <option value = "yes"/>
         <option value = "no"/>
        </param>
        <param name = "callback" required = "1" desc = "huawei" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "huawei"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "huawei"/>
		<operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "huawei"/>
		<operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserHuaWei" typePlugin = "0" desc = "huawei"/>
		<plugin name = "IAPOnlineHuaWei" typePlugin = "2" desc = "huawei"/>
	</pluginLs>
    <version code = "1010" showVersion = "2.1.0_1.3.1.1" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[1、更新华为1.3.1.1版本，增加submitLoginGameRole函数，getRoleInfo函数 </br>]]>
    </version>
</config>