<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "ShareJoyMerchantId" required = "1" desc = "sharejoy" showName = "Merchant_Id" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "ShareJoyAppId" required = "1" desc = "sharejoy" showName = "App_Id" bWriteIntoManifest = "0" bUserOffer = "1" />
        <param name = "ShareJoyServerId" required = "1" desc = "sharejoy" showName = "Server_Id" bWriteIntoManifest = "0" bUserOffer = "1" />
        <param name = "ShareJoyAppKey" required = "1" desc = "sharejoy" showName = "App_Key" bWriteIntoManifest = "0" bUserOffer = "1" />
         <param name = "ShareJoySecretKey" required = "1" desc = "sharejoy" showName = "Secret_Key" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
        <param name = "callback" required = "1" desc = "sharejoy" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "sharejoy"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "sharejoy"/>
	</operateLs>
	<version code = "1001" showVersion = "2.0.1_2.2.4" >
        <![CDATA[
        1.支持登出(logout)</br>
		2.不支持客户端配置回调地址</br>
    ]]>
    </version>
	<pluginLs>
		<plugin name = "UserShareJoy" typePlugin = "0" desc = "sharejoy"/>
		<plugin name = "IAPOnlineShareJoy" typePlugin = "2" desc = "sharejoy"/>
	</pluginLs>
</config>