<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="fengqu_AppKeyId" required="1" showName="AppKey_ID" desc="AppKey_ID 锋趣分配的 应用id" bWriteIntoManifest="0" 
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="fengqu_SecretKey" required="1" showName="SecretKey" desc="SecretKey 锋趣分配的 密钥" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="CallBackKey" required="1" showName="CallBackKey" desc="锋趣分配的支付回调密钥" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>    

    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="appfengqu"/>
        <operate step="2" name="copy" from="ForRes" to="res" desc="appfengqu"/>
        <operate step="3" name="script" desc="更改quick的manifest"/>  
        <operate step="4" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    
    <pluginLs>
        <plugin name="UserFengqu" typePlugin="0" desc="锋趣用户插件"/>
        <plugin name="IAPOnlineFengqu" typePlugin="2" desc="锋趣支付插件"/>
    </pluginLs>
    <version code = "1014" showVersion = "1.0" >
        <![CDATA[
        <br/>
    ]]>
    </version>
</config>