<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="107">
  <paramLs>
    <param
        name="siteCode"
        required="1"
        showName="SiteCode"
        desc="LUNPLAY提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
        
    <param
        name="gameCode"
        required="1"
        showName="GameCode"
        desc="LUNPLAY提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="serverCode"
        required="1"
        showName="ServerCode"
        desc="ship（一服 ship1，二服 ship2  。。。 類推）"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>      
    <param
        name="facebookAppId"
        required="1"
        showName="FacebookAppId"
        desc="FACEBOOK应用id"
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="0"/>

    <param
        name="facebookAppIdForXml"
        required="1"
        showName="FacebookAppIdToClient"
        desc="FACEBOOK应用id"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>    

    <param
        name="key1"
        required="0"
        showName="KEY1"
        desc="登入驗證和點擊儲值時的加密key1"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>   
    <param
        name="key2"
        required="0"
        showName="KEY2"
        desc="儲值遊戲幣或儲值成功后客戶端返回的驗證信息key2"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>     
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="lunplay"/>
    <operate step="2" name="copy" from="ForRes" to="res" desc="lunplay"/>
    <operate step="3" name="script" desc="lunplay"/> 
    <operate step="4" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserLunplay" typePlugin="0" desc=""/>
    <plugin name="IAPOnlineLunplay" typePlugin="2" desc=""/>
    <plugin name="SocialLunplayFacebook" typePlugin="3" desc=""/>
    <plugin name="ShareLunplayFacebook" typePlugin="4" desc=""/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_7.28" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2.0.6_7.28]]>
    </version>
</config>
