<?xml version="1.0" encoding="UTF-8"?>

<config>
  <paramLs>
    <param name="nouse" required="0" desc="未使用" showName="占位符" bUserOffer="1" bWriteIntoClient="0"/>
  </paramLs>
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="paypal"/>
    <operate step="2" name="copy" from="ForRes" to="res" desc="paypal"/>
    <operate step="3" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="IAPOnlinePaypal" typePlugin="2" desc="支付插件"/>
  </pluginLs>
   <version code = "1" showVersion = "1.0">
  <![CDATA[]]>
  </version>
</config>
