<?xml version="1.0" encoding="utf-8"?>
<config pluginId="100015">
	<paramLs>
		<param name="UMENG_APPKEY" required="1" desc="appkey" showName="Appkey" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1"/>

        <param name="UMENG_CHANNEL" required="1" desc="渠道名" showName="Channel" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1"/>

        <param name="Umeng_platformCode" required="1" desc="充值渠道代码，1=Google Play，2=支付宝，3=网银，4=财付通，5=移动通信，6=联通通信，7=电信通信，8=paypal" showName="PlatformCode" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1"/>

        <param name="Umeng_debugMode" required="1" desc="调试模式" showName="DebugMode" bWriteIntoManifest="0" bWriteIntoClient="1" bUserOffer="1">
            <option value="true"/>
            <option value="false"/>
        </param>
	</paramLs>
	
	<operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "oasgames"/>
    </operateLs>
	
	<pluginLs>
        <plugin name = "AnalyticsUmeng" typePlugin = "5" desc = "AnalyticsUmeng"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至1.1.2版本 ]]>
    </version>
</config>