<?xml version="1.0" encoding="utf-8"?>
<config pluginId = "100018">
	<paramLs>
		<param name = "MZWOrientation" required = "1" desc = "界面方向" showName = "Orientation" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "1">
			<option value = "landscape"/>
			<option value = "portrait"/>
		</param>

		<param name = "MZWis32Bit" required = "1" desc = "是否兼容游戏进程位数32位和64位，true = 兼容32位和64位，false = 只支持64位" showName = "兼容64位和32位" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "1">
			<option value = "true"/>
			<option value = "false"/>
		</param>
		
		<param name = "MZWAPPKEY" required = "1" desc = "拇指玩应用key" showName = "MZWAPPKEY" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "DEBUG" required = "1" desc = "是否开启debug模式" showName = "DEBUG" bWriteIntoManifest = "1" bUserOffer = "1">
			<option value = "true"/>
			<option value = "false"/>
		</param>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "muzhiwan"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "muzhiwan"/>
		<operate step = "3" name = "mergeR" desc = "muzhiwan(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserMuzhiwan" typePlugin = "0" desc = "muzhiwan"/>
		<plugin name = "IAPOnlineMuzhiwan" typePlugin = "2" desc = "muzhiwan"/>
	</pluginLs>
</config>