<?xml version="1.0" encoding="UTF-8"?>
<config>

    <paramLs>

        <param
            name="wostore_cpId"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="开发者VAC资质编号"
            required="1"
            showName="cpId" />

        <param
            name="wostore_cpCode"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="开发者在开发者社区唯一编码"
            required="1"
            showName="cpCode" />

        <param
            name="wostore_AppId"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="作品编号"
            required="1"
            showName="AppId" />

        <param
            name="wostore_key"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="计费能力密钥"
            required="1"
            showName="Key" />

        <param
            name="wostore_fid"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="渠道代码"
            required="1"
            showName="fid" />

        <param
            name="wostore_companyname"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="开发者公司名字"
            required="1"
            showName="Company Name" />

        <param
            name="wostore_gameName"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="应用名称"
            required="1"
            showName="Game Name" />

        <param
            name="wostore_vac"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="是否使用VAC话费支付"
            required="1"
            showName="VAC pay" >

            <option value="true" />

            <option value="false" />
        </param>

        <param
            name="wostore_otherpay"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="是否使用第三方"
            required="1"
            showName="other pay" >

            <option value="true" />

            <option value="false" />

         </param>

            <param
                name="wostore_otherpayURL"
                bUserOffer="1"
                bWriteIntoClient="1"
                bWriteIntoManifest="0"
                desc="第三方支付结果推送地址"
                required="1"
                showName="otherpayURL" />

            <param
                name="wostore_serviceNum"
                bUserOffer="1"
                bWriteIntoClient="1"
                bWriteIntoManifest="0"
                desc="开发者客服电话号码"
                required="1"
                showName="Service Num" />

            <param
                name="wostore_appVersion"
                bUserOffer="1"
                bWriteIntoClient="1"
                bWriteIntoManifest="0"
                desc="游戏版本号"
                required="1"
                showName="AppVersion" />

            <param
                name="callback"
                bUserOffer="1"
                bWriteIntoClient="0"
                desc="anysdk支付结果通知"
                required="1"
                showName="支付通知地址" />
    </paramLs>

    <operateLs>

        <operate
            name="modifyManifest"
            desc="wostore"
            from="ForManifest.xml"
            step="1"
            to="AndroidManifest.xml" />

        <operate
            name="copy"
            desc="wostore"
            from="ForAssets"
            step="2"
            to="assets" />

        <operate
            name="script"
            desc="wostore"
            step="3" />
    </operateLs>

    <pluginLs>

        <plugin
            name="IAPOnlineWostore"
            desc="沃商店支付插件"
            typePlugin="2" />
    </pluginLs>

    <version code = "1000" showVersion = "2.0.0_1.2.0" >
          <![CDATA[
          2014年11月11日创建联通沃商店版本v1.2.0<br/>
          1.通过Product_Id传递计费代码，格式“编码+业务代码”<br/>
          2.通过Role_Id传递uid<br/>
          3.通过Role_Name传递vac_mode（VAC支付方式（单次：single，包月：sub，退订：unsub））
         ]]>
    </version>
</config>