<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="83">

    <paramLs>

        <param
            name="coolpad_AppId"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="CoolPad appid"
            required="1"
            showName="AppId" />

        <param
            name="coolpad_AppKey"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="CoolPad appkey"
            required="1"
            showName="AppKey" />
        <param
            name = "coolpad_ScreenType"
            required = "1"
            desc = "屏幕方向设置"
            showName = "ScreenType"
            bWriteIntoClient="1"
            bWriteIntoManifest = "0"
            bUserOffer = "1">
            <option value = "portrait"/>
            <option value = "landscape"/>
        </param>
        <param
            name = "coolpad_PaymentMode"
            required = "1"
            desc = "支付模式，是否为应用传入价格"
            showName = "支付模式"
            bWriteIntoClient="1"
            bWriteIntoManifest = "0"
            bUserOffer = "1">
            <option value = "priceMode"/>
            <option value = "productIdMode"/>
        </param>
        <!--
         <param
            name="coolpad_uAppID"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="酷派账户appid"
            required="0"
            showName="uAppId" />
         -->
        <!--
         <param
            name="coolpad_uAppKey"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="酷派账户appkey"
            required="0"
            showName="uAppKey" />
         -->
        <param
            name="coolpad_PublicKey"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="支付需要平台公钥"
            required="1"
            showName="平台公钥" />

        <param
            name="coolpad_PrivateKey"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="支付需要应用私钥"
            required="1"
            showName="应用私钥" />
            
          
 		<!-- DateEye  -->  
        <param
            name = "DC_APPID"
            required = "0"
            desc = "DataEye应用ID"
            showName = "DataEyeAppId"
            placeholderText="DataEye参数"
            bWriteIntoClient="1"
            bWriteIntoManifest = "1"
            bUserOffer = "1"/>
        <param
            name = "DC_CHANNEL"
            required = "0"
            desc = "DataEye渠道ID"
            showName = "DataEyeChannelID"
            placeholderText="DataEye参数"
            bWriteIntoClient="1"
            bWriteIntoManifest = "1"
            bUserOffer = "1"/>
        <param
            name = "DCDebugMode"
            required = "1"
            desc = "DataEye测试模式"
            showName = "DataEyeDebugMode"
            bWriteIntoClient="1"
            bWriteIntoManifest = "0"
            bUserOffer = "1">
            <option value = "true"/>
            <option value = "false"/>
        </param>
        <param
            name = "DCReportMode"
            required = "1"
            desc = "DataEye数据上报模式"
            showName = "DataEyeReportMode"
            bWriteIntoClient="1"
            bWriteIntoManifest = "0"
            bUserOffer = "1">
			<option value = "DEFAULT"/>
			<option value = "AFTER_LOGIN"/>
        </param>
    </paramLs>

    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "coolpad assistant"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "coolpad assistant"/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "coolpad assistant"/>
        <operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "coolpad assistant"/>
        <operate step = "5" name = "mergeR" desc = "coolpad assistant"/>
    </operateLs>

    <pluginLs>
        <plugin
            name="UserCoolpad"
            desc="酷派用户插件"
            typePlugin="0" />

        <plugin
            name="IAPOnlineCoolpad"
            desc="酷派微支付"
            typePlugin="2" />
       <!--
       <plugin 
           name = "AnalyticsDataEye" 
           typePlugin = "5" 
           desc = "DataEye"/>
       -->
       
    </pluginLs>

    <version
        code="1005"
        showVersion="3.6.2_1.2.9" minClientVer="2.0" minFrameworkVer="2.0">
        <![CDATA[ 1、帐号系统版本2.4.3<br/>  2、支付系统版本3.6.2<br/>  3.兼容支付和用户不共用的旧参数]]>
    </version>

</config>