<?xml version="1.0" encoding="UTF-8"?>

<config>
  <paramLs>
    <param name="ChukongAppid" required="1" showName="CoCos_aid" desc="应用id" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
    <param name="ChukongChannleId" required="1" showName="CoCos_cid" desc="游戏渠道id" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
    <param name="ChukongAppSecret" required="1" showName="coco_appSecret" desc="应用密钥" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
    <param name="Orientation" required="1" showName="界面方向" desc="游戏界面方向" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
        <option value="portrait"/>
        <option value="landscape"/>
    </param>
    <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
  </paramLs>
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="chukong"/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc="chukong"/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc="chukong"/>
    <operate step="4" name="copy" from="ForRes" to="res" desc="chukong"/>
    <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="IAPOnlineChukong" typePlugin="2" desc="触控支付插件"/>
    <plugin name="UserChukong" typePlugin="0" desc="触控用户插件"/>
  </pluginLs>
    <version code = "1009" showVersion = "2.0.9_1.0.7" >
        <![CDATA[
        2015年1月6日  修改已知bug<br/>
        
       2014年11月26号更新cocosdk到1.0.7版本<br/>
       1.渠道sdk修复自身的bug<br/>
       2.用户系统只支持登录功能<br/>
       3.支付不支持客户端配置支付地址
    ]]>
    </version>
</config>
