<?xml version="1.0" encoding="utf-8"?>
<config pluginId="8">

    <paramLs>

        <param
            name="DJMerchentId"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="当乐分配的厂商ID"
            required="1"
            showName="MerchentId" />

        <param
            name="DJAppId"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="当乐分配的游戏/应用ID"
            required="1"
            showName="AppId" />

        <param
            name="DJAppKey"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="当乐分配的游戏/应用密钥"
            required="1"
            showName="AppKey" />

        <param
            name="DJServerSeqNum"
            bUserOffer="1"
            bWriteIntoManifest="0"
            placeholderText="与配置的服务器序列号一致,最小值为1"
            desc="与配置的服务器序列号一致,最小值为1"
            required="1"
            showName="ServerSeqNum" />

        <param
            name="DJPaymentKey"
            bUserOffer="1"
            bWriteIntoClient="0"
            bWriteIntoManifest="0"
            desc="当乐分配的游戏/应用支付密钥"
            required="1"
            showName="PaymentKey" />

        <param
            name="DJIconFlag"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="登录成功后，是否显示当乐悬浮按钮"
            required="1"
            showName="是否显示悬浮窗">
            <option value="true" />
            <option value="false" />
        </param>
        
        <param
            name="DJSwitchRestart"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="从用户中心切换账号时，是否重启应用"
            required="1"
            showName="切换账号是否重启">
            <option value="true" />
            <option value="false" />
        </param>

        <param
            name="DJIconLocation"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="设置悬浮按钮的首次出现的位置"
            placeholderText=""
            required="1"
            showName="悬浮按钮位置" >
            <option value="LOCATION_LEFT_TOP" />
            <option value="LOCATION_LEFT_CENTER_VERTICAL" />
            <option value="LOCATION_LEFT_BOTTOM" />
            <option value="LOCATION_RIGHT_TOP" />
            <option value="LOCATION_RIGHT_CENTER_VERTICAL" />
            <option value="LOCATION_RIGHT_BOTTOM" />
        </param>
        
        <param
            name="Orientation"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="SDK面板横竖屏设置"
            required="1"
            showName="界面方向" >
            <option value="landscape" />
            <option value="portrait" />
        </param>
    </paramLs>

    <operateLs>
        <operate name="modifyManifest" desc="downjoy" from="ForManifest.xml" step="1" to="AndroidManifest.xml" />
        <operate name="copy" desc="guopan" from="ForAssets" step="2" to="assets" />
        <operate name="copy" desc="downjoy" from="ForLibs" step="3" to="lib" />
        <operate name="copy" desc="downjoy" from="ForRes" step="4" to="res" />
        <operate name="mergeR" desc="downjoy(合并R文件，此步骤需在res目录合并完后才执行)" step="5" />
    </operateLs>
    
    <pluginLs>
        <plugin name="UserDownJoy" desc="downjoy" typePlugin="0" />
        <plugin name="IAPOnlineDownJoy" desc="downjoy" typePlugin="2" />
    </pluginLs>

    <version
        code="1012"
        showVersion="2.1.2_4.0.1" 
        minClientVer="1.5"
        minFrameworkVer="1.5">
        <![CDATA[修改初始化bug
         ]]>
    </version>

</config>