<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="107">
  <paramLs>
    <param
        name="BaiduGameAppId"
        required="1"
        showName="AppId"
        desc="应用id"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
        
    <param
        name="BaiduGameSecretKey"
        required="1"
        showName="SecretKey"
        desc="应用私钥"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>
        
    <param
        name="BaiduGameAppKey"
        required="1"
        showName="AppKey"
        desc="应用Key"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="BaiduGameOrientation"
        required="1"
        showName="Orientation"
        desc="横竖屏"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="landscape"/>
        <option value="portrait"/>
    </param>
    
    <param
        name="BDDebugMode"
        required="0"
        showName="DebugMode"
        desc="是否为调试模式"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="false"/>
        <option value="true"/>
    </param>
    
    <param
        name="BaiduDKGameAppId"
        required="0"
        showName="DKAppId"
        placeholderText="多酷AppId"
        desc="原先使用多酷手游SDK的游戏的AppID"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
        
    <param
        name="BaiduDKGameAppKey"
        required="0"
        showName="DKAppKey"
        placeholderText="多酷AppKey"
        desc="原先使用多酷手游SDK的游戏的AppKey"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
        
    <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="BDYouxi"/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc="BDYouxi"/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc="BDYouxi"/>
    <operate step="4" name="copy" from="ForRes" to="res" desc="BDYouxi"/>
    <operate step="5" name="script" desc="BDYouxi"/>
    <operate step="6" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserBDYouxi" typePlugin="0" desc="百度游戏3.0.0用户插件"/>
    <plugin name="IAPOnlineBDYouxi" typePlugin="2" desc="百度游戏3.0.0支付插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_3.2.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2015年6月12日 更新至3.2.0]]>
    </version>
</config>
