<?xml version="1.0" encoding="utf-8"?>
<config pluginId="100011">
	<paramLs>
		<param name = "TstoreAppId" required = "1" desc = "appid" showName = "AppId" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name="TstoreMode" required="1" showName="TstoreMode" desc="release为上线模式，development为开发模式" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="release"/>
            <option value="development"/>
        </param>
        <param name = "callback" required = "1" desc = "支付回调地址" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "tstore"/>
        <operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = "tstore"/>
        <operate step = "3" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	
	<pluginLs>
		<plugin name = "IAPOnlineTstore" typePlugin = "2" desc = "IAPOnlineTstore"/>
	</pluginLs>
	<version code = "1000" showVersion = "3.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至1.1.2版本 ]]>
    </version>
</config>