<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "YiWanAppId" required = "1" desc = "yiwan" showName = "AppId" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "YiWanSignkey" required = "1" desc = "yiwan" showName = "Signkey" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "YiWanDebugModel" required = "1" desc = "yiwan" showName = "DebugModel" bWriteIntoManifest = "0" bUserOffer = "1">
			<option value = "test"/>
			<option value = "normal"/>
		</param>
		<param name = "YiWanPacketid" required = "1" desc = "yiwan" showName = "Packetid" bWriteIntoManifest = "0" bUserOffer = "1"/>
		
		<param name = "callback" required = "1" desc = "yiwan" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "yiwan"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "yiwan"/>
		<operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "yiwan"/>
		<operate step = "4" name = "mergeR" desc = "yiwan(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserYiWan" typePlugin = "0" desc = "yiwan"/>
		<plugin name = "IAPOnlineYiWan" typePlugin = "2" desc = "yiwan"/>
	</pluginLs>
</config>