<?xml version="1.0" encoding="utf-8"?>
<config>
    	<SDKLs>
		<SDK SDKName = "Banner" SDKType = "16" SDKShowName = "Banner">
			<param name = "ABBannerUnitId" required = "1" desc = "Banner广告位ID" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
			<param name = "ABBannerPos" required = "1" desc = "Banner广告位置" showName = "Pos" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
			    <option value = "center"/>
				<option value = "top-middle"/>
				<option value = "top-left"/>
				<option value = "top-right"/>
				<option value = "bottom-middle"/>
				<option value = "bottom-left"/>
				<option value = "bottom-right"/>
			</param>
			<param name = "ABBannerSize" required = "1" desc = "Banner广告规格" showName = "Size" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
			    <option value = "BANNER"/>
				<option value = "LARGE_BANNER"/>
				<option value = "MEDIUM_RECTANGLE"/>
				<option value = "LEADERBOARD"/>
				<option value = "FULL_BANNER"/>
				<option value = "SMART_BANNER"/>
			</param>
		</SDK>
		<SDK SDKName = "FullScreen" SDKType = "16" SDKShowName = "Interstitial">
			<param name = "ABFullScreenUnitId" required = "1" desc ="全屏广告位ID" showName = "UnitId" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		</SDK>

	</SDKLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "Admob"/>
		<operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "Admob"/>
		<operate step = "3" name = "mergeR" desc = "Admob(合并R文件，此步骤需在res目录合并完后才执行)"/>
        <operate step = "4" name = "script" desc = "Admob R文件拷贝"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AdsAdmob" typePlugin = "1" desc = "Admob"/>
	</pluginLs>
</config>