<?xml version="1.0" encoding="utf-8"?>
<config pluginId="100010">
	<paramLs>
        <param name = "oasgames_location" required = "1" desc = "浮窗位置" showName = "Location" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1">
            <option value="LEFT_TOP"/>
            <option value="LEFT_CENTER_VERTICAL"/>
            <option value="LEFT_BOTTOM"/>
            <option value="RIGHT_TOP"/>
            <option value="RIGHT_CENTER_VERTICAL"/>
            <option value="RIGHT_BOTTOM"/>
        </param>
        <param name = "oasgames_levels" required = "1" desc = "统计等级，使用,号分割" showName = "统计等级" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "1"/>
        <param name = "ext" required = "1" desc = "扩展" showName = "扩展" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
        <param name = "callback" required = "1" desc = "支付回调地址" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "oasgames"/>
        <operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "oasgames"/>
        <operate step = "3" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>
	
	<pluginLs>
		<plugin name = "UserOasgames" typePlugin = "0" desc = "UserOasgames"/>
		<plugin name = "IAPOnlineOasgames" typePlugin = "2" desc = "IAPOnlineOasgames"/>
        <plugin name = "SocialOasgames" typePlugin = "3" desc = "SocialOasgames"/>
        <plugin name = "ShareOasgames" typePlugin = "4" desc = "ShareOasgames"/>
        <plugin name = "AnalyticsOasgames" typePlugin = "5" desc = "AnalyticsOasgames"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至1.1.2版本 ]]>
    </version>
</config>