<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="SkyPayAppId" required="1" showName="PayAppId" desc="登录用的appId" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="SkyLoginAppId" required="1" showName="LoginAppId" desc="登录用的appId" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="SkyPayAppKey" required="1" showName="PayAppKey" desc="支付密钥" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="SkyPayChannelId" required="1" showName="PayChannelId" desc="支付渠道号" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="SkyMerchantId" required="1" showName="MerchantId" desc="商户id" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="SkyAppName" required="1" showName="AppName" desc="应用名称" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="SkyGameType" required="1" showName="GameType" desc="游戏类型 0单机 1联网  2弱联网" bWriteIntoManifest="0"
               bUserOffer="1" bWriteIntoClient="1">
            <option value="0单机"/>
            <option value="1联网"/>
            <option value="2弱联网"/>
        </param>
        <param name="SkyPayType" required="1" showName="支付类型" desc="" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1">
            <option value="1=道具"/>
            <option value="3=充值"/>
            <option value="2=积分"/>
            <option value="0=注册"/>
        </param>
        <param name="SkySystemId" required="1" showName="SystemId" desc="支付系统号300021 冒泡堂 300024支付中心"
               bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="300021冒泡堂"/>
            <option value="300024支付中心"/>
        </param>
        <param name="callback" required="1" showName="支付通知地址" desc="" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="0"/>
    </paramLs>
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "sky"/>
        <operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = "sky"/>
        <operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "sky"/>
        <operate step = "4" name = "copy" from = "ForAssets" to = "assets" desc = "sky"/>
        <operate step = "4" name = "mergeR" desc = "sky(合并R文件，此步骤需在res目录合并完后才执行)"/>
    </operateLs>
    <pluginLs>
        <plugin name="UserSky" typePlugin="0" desc="斯凯用户插件"/>
        <plugin name="IAPOnlineSky" typePlugin="2" desc="斯凯支付插件"/>
    </pluginLs>
</config>