<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "JiuBang3GGameId" required = "1" desc = "3g" showName = "GameId" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "JiuBang3GCpId" required = "1" desc = "3g" showName = "CpId" bWriteIntoManifest = "0" bUserOffer = "1"/>
		
		<param name = "JiuBang3GMd5Key" required = "1" desc = "3g" showName = "3GMd5Key" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "callback" required = "1" desc = "3g" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "3g"/>
        <operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = "3g"/>
        <operate step = "3" name = "copy" from = "ForAssets" to = "assets" desc = "3g"/>
        <operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "3g"/>

	</operateLs>
	
	<pluginLs>
		<plugin name = "User3G" typePlugin = "0" desc = "3g"/>
		<plugin name = "IAPOnline3G" typePlugin = "2" desc = "3g"/>
	</pluginLs>
	<version code = "1003" showVersion = "2.0.3_3.0" >
        <![CDATA[
       11月12号更新3g门户到3.0版本<br/>
       包含登录和支付等功能，支持登出、Activity销毁、显示浮窗（需要调用showToolBar/hideToolBar）等回调<br/>
    ]]>
    </version>
</config>