<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="13">
    <paramLs>
        <param name = "resource" required = "1" desc = "特殊资源处理" showName = "分享资源文件" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
            <input type="file" />
        </param>
	    <param name = "ShareSdk" required = "1" showName = "分享图片”" desc = "分享图片,图片名称为ShareSdk.png" bWriteIntoManifest = "0" bUserOffer="1" bWriteIntoClient="0">
		    <input type="file" />
	    </param>
    </paramLs>
    
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "share"/>
        <operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "share"/>
        <operate step = "3" name = "script" desc = ""/>
        <operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>
    
    <pluginLs>
        <plugin name = "ShareSDKShare" typePlugin = "4" desc = "share分享插件"/>
       
    </pluginLs>

    <version code = "1013" showVersion = "2.1.3_3.2" >
        <requestVersion minClientVer = "2.0" minFrameworkVer = "2.0"/>
        <![CDATA[更新框架2.0]]>
    </version>
</config>