<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
	    <param name = "FlurryAppKey" required = "1" desc = "flurry" showName = "AppKey" bWriteIntoManifest = "0" bUserOffer = "1"/>
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "flurry"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AnalyticsFlurry" typePlugin = "5" desc = "flurry"/>
	</pluginLs>
</config>