<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="000101">
  <paramLs>
    <param
        name="APPKEY"
        required="1"
        showName="AppId"
        desc="APPKEY"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="Orientation"
        required="1"
        showName="Orientation"
        desc="横竖屏"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="PORTRAIT"/>
        <option value="LANDSCAPE"/>
    </param>     
    <param
        name="PopLogoStyle"
        required="1"
        showName="PopLogoStyle"
        desc="悬浮窗风格"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="ONE"/>
        <option value="TWO"/>
        <option value="THREE"/>
        <option value="FOUR"/>
    </param> 
    <param
        name="PopWinPosition"
        required="1"
        showName="PopWinPosition"
        desc="悬浮窗显示位置"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="LEFT"/>
        <option value="RIGHT"/>
        <option value="TOP"/>
        <option value="BOTTOM"/>
    </param> 
    <param
        name="secretKey"
        required="0"
        showName="secretKey"
        desc="服务器端验签使用"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="m4399"/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc="m4399"/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc="m4399"/>
    <operate step="4" name="copy" from="ForRes" to="res" desc="m4399"/>
    <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserM4399" typePlugin="0" desc="M4399用户插件"/>
    <plugin name="IAPOnlineM4399" typePlugin="2" desc="M4399支付插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_2.5.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2015年8月18日 更新至2.5.0]]>
    </version>
</config>
