<?xml version="1.0" encoding="utf-8"?>
<config>
    	<SDKLs>
		<SDK SDKName = "Banner" SDKType = "16" SDKShowName = "Banner">
			<param name = "ABBannerUnitId" required = "1" desc = "Banner广告位ID" showName = "AD Unit ID" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
			<param name = "ABBannerPos" required = "1" desc = "Banner广告位置" showName = "Pos" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
			    <option value = "center"/>
				<option value = "top-middle"/>
				<option value = "top-left"/>
				<option value = "top-right"/>
				<option value = "bottom-middle"/>
				<option value = "bottom-left"/>
				<option value = "bottom-right"/>
			</param>
			<param name = "ABBannerSize" required = "1" desc = "Banner广告规格" showName = "Size" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0">
			    <option value = "BANNER"/>
				<option value = "LARGE_BANNER"/>
				<option value = "MEDIUM_RECTANGLE"/>
				<option value = "LEADERBOARD"/>
				<option value = "FULL_BANNER"/>
				<option value = "SKYSCRAPER"/>
                <option value = "SMART_PORTRAIT"/>
                <option value = "SMART_LANDSCAPE"/>
			</param>
		</SDK>
		<SDK SDKName = "FullScreen" SDKType = "16" SDKShowName = "Interstitial">
			<param name = "ABFullScreenUnitId" required = "1" desc ="全屏广告位ID" showName = "AD Unit ID" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		</SDK>

	</SDKLs>
	<operateLs>
	</operateLs>
	<pluginLs>
		<plugin name = "AdsAdmob" typePlugin = "1" desc = "AdsAdmob"/>
	</pluginLs>
    <sysFrameworksLs>
		<sysFrameworks name = "AdSupport.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "AudioToolbox.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "AVFoundation.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "CoreGraphics.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "MessageUI.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "StoreKit.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "SystemConfiguration.framework" path = "xcodeFrameworks"/>
 	</sysFrameworksLs>
    <version code = "1000" showVersion = "2.0.0_6.12.0" >
        <![CDATA[
    12月1日新增Admob插件<br/>

    ]]>
    </version>
</config>