<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param
            name="tcAppId"
            required="1"
            showName="AppId"
            desc="手Q应用id"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="手QAppId"/>
            
        <param
            name="tcAppKey"
            required="1"
            showName="AppKey"
            desc="手Q应用key"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>
            
        <param
            name="wxAppId"
            required="1"
            showName="微信AppId"
            desc="微信应用id"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>
        <param
            name="msdkKey"
            required="1"
            showName="msdkKey(new)"
            desc="2.8.1a以后msdkkey代替了微信key"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>    
        <param
            name="wxSecret"
            required="1"
            showName="微信key"
            desc="微信私钥（2.8.1a以后初始化不再用到）"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"/>
        
        <param
            name="tcPayMode"
            required="1"
            showName="充值游戏币模式"
            desc="模式分为支付sdk提供默认值和游戏方提供默认值"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1">
            <option value="支付SDK提供默认值"/>
            <option value="应用传递充值数额"/>
        </param>
        
        <param
            name="tcEnvironment"
            required="1"
            showName="使用模式"
            desc=""
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1">
            <option value="test"/>
            <option value="release"/>
        </param>
        
        <param
            name="tcCanChangePrice"
            required="1"
            showName="是否允许用户自定义价格"
            desc=""
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1">
            <option value="false"/>
            <option value="true"/>
        </param>
        
        <param
            name="tcSetLog"
            required="1"
            showName="支付是否输出SDKlog"
            desc=""
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1">
            <option value="false"/>
            <option value="true"/>
        </param>
        
        <param
            name="tcRate"
            required="1"
            showName="支付汇率"
            desc="1元人民币=1Q币=10个游戏币，请添加10"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="1元人民币=1Q币=10个游戏币，请添加10"/>
        
        <param
            name="tcCheckFailOrder"
            required="1"
            showName="查询失败订单URL"
            desc="查询失败订单URL"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="查询失败订单URL"/>
        <param
            name="tcCheckBalance"
            required="1"
            showName="查询游戏币余额URL"
            desc="查询游戏币余额URL"
            bWriteIntoManifest="0"
            bUserOffer="1"
            bWriteIntoClient="1"
            placeholderText="查询游戏币余额URL"/>            
    </paramLs>
    
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="tencent"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="tencent"/>
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="tencent"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="tencent"/>
        <operate step="5" name="script" desc="tencent"/>
        <operate step="6" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <operateLs/>
    <pluginLs>
        <plugin name="UserTencent" typePlugin="0" desc="应用宝用户插件"/>
        <plugin name="IAPOnlineTencent" typePlugin="2" desc="腾讯支付插件"/>
    </pluginLs>
    <version code = "1002" showVersion = "2.0.2_2.8.1a_2.5.0f" >
        <![CDATA[
       2015年11月9日更新应用宝插件<br/>
       支付为2.5.0f
    ]]>
    </version>
</config>