<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appsflyer_dev_key</key>
	<string>zgSadHuKbF9UhdTJGmBvSo</string>
	<key>gocpa_advertiser_id</key>
	<string>458</string>
	<key>gocpa_appId</key>
	<string>6cb3a2edfb4c4dd7848f1586b8894eba</string>
</dict>
</plist>
