<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "GATrackingID" required = "1" desc = "替换为您的tracking ID" showName = "TrackingID" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name = "GAIntervalTime" required = "0" desc = "发送周期" showName = "dispatchInterval" placeholderText = "默认为120s" bWriteIntoManifest = "0" bUserOffer = "1"/>
        <param name = "GATrackUncaughtExceptions" required = "0" desc = "是否自动抓取异常" showName = "TrackExceptions" bWriteIntoManifest = "0" bUserOffer = "1">
            <option value = "true"/>
	    	<option value = "false"/>
		</param>
	    <param name = "GALoggerLevel" required = "0" desc = "打印日志等级" showName = "LoggerLevel" bWriteIntoManifest = "0" bUserOffer = "1">
            <option value = "kGAILogLevelNone"/>
	    	<option value = "kGAILogLevelError"/>
			<option value = "kGAILogLevelWarning"/>
			<option value = "kGAILogLevelInfo"/>
			<option value = "kGAILogLevelVerbose"/>
		</param>
        <param name = "GAIsDryRun" required = "1" desc = "是否开启测试模式" showName = "IsDryRun" bWriteIntoManifest = "0" bUserOffer = "1">
	    	<option value = "false"/>
			<option value = "true"/>
		</param>
        
	</paramLs>
	<operateLs>
		
	</operateLs>
	<pluginLs>
        <plugin name = "AnalyticsGoogle" typePlugin = "5" desc = "AnalyticsGoogle"/>
	</pluginLs>
    <sysFrameworksLs>
		<sysFrameworks name = "CoreData.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "SystemConfiguration.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "AdSupport.framework" path = "xcodeFrameworks"/>
		<sysFrameworks name = "libz.dylib" path = "xcodeUsrlib"/>
		<sysFrameworks name = "libsqlite3.dylib" path = "xcodeUsrlib"/>
 	</sysFrameworksLs>
    <version code = "1000" showVersion = "2.0.0_3.08" >
        <![CDATA[
    12月1日新增GA插件<br/>

    ]]>
    </version>
</config>