<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "YJ_APPKEY" required = "1" desc = "yj4399" showName = "APPKEY" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "YJ_APPSECRET" required = "1" desc = "yj4399" showName = "APPSECRET" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "YJ4399OPENSDK_CHANNEL" required = "1" desc = "yj4399" showName = "CHANNEL" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "callback" required = "1" desc = "yj4399" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		
		<param name = "YJ4399AppName" required = "1" desc = "yj4399" showName = "AppName" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "YJ4399ExchangeRate" required = "1" desc = "yj4399" showName = "Rate" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "YJ4399_tongxun_key" required = "1" desc = "yj4399" showName = "通讯key" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "yj4399"/>
		<operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "yj4399"/>
		<operate step = "3" name = "mergeR" desc = "yj4399(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserYj4399" typePlugin = "0" desc = "yj4399"/>
		<plugin name = "IAPOnlineYj4399" typePlugin = "2" desc = "yj4399"/>
	</pluginLs>
</config>