<?xml version="1.0" encoding="utf-8"?>
<config pluginId="600016">
	<paramLs>
        <param name="HJR_GAMEKEY" required="1" showName="HJR_GAMEKEY" desc="HJR_GAMEKEY" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1"/>
        <param name="HJR_DATA_URL_DEBUG" required="1" showName="HJR_DATA_URL_DEBUG" desc="HJR_DATA_URL_DEBUG" bWriteIntoManifest="1" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        <param name="backup" required="1" showName="预留" desc="预留不用填" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
	</paramLs>
	
	<operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "kuaifa"/>
        <operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "kuaifa"/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "kuaifa"/>
        <operate step = "4" name = "copy" from = "ForAssets" to = "assets" desc = "kuaifa"/>
        <operate step = "5" name = "script" desc = ""/>
        <operate step = "6" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>

	<pluginLs>
		<plugin name = "UserKuaifa" typePlugin = "0" desc = "kuaifa"/>
		<plugin name = "IAPOnlineKuaifa" typePlugin = "2" desc = "kuaifa"/>
        <plugin name="AnalyticsKuaifa" typePlugin="5" desc="统计插件"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至2.0.0版本 ]]>
    </version>
</config>