<?xml version="1.0" encoding="utf-8"?>
<config>
    <paramLs>

        <param
        name="QHOPENSDK_APPID"
        bUserOffer="1"
        bWriteIntoManifest="1"
        desc="应用id"
        required="1"
        showName="appid" />
        
        <param
        name="QHOPENSDK_APPKEY"
        bUserOffer="1"
        bWriteIntoManifest="1"
        desc="应用key"
        required="1"
        showName="appkey" />
        
        <param
        name="QHOPENSDK_CHANNEL"
        bUserOffer="1"
        bWriteIntoManifest="1"
        desc="渠道名"
        required="1"
        showName="CHANNEL" />
        
        <param
        name="QHOPENSDK_APPSECRET"
        bUserOffer="1"
        bWriteIntoClient="0"
        bWriteIntoManifest="0"
        desc="应用私钥"
        required="1"
        showName="appsecret" />
        
        <param
        name="QHAppName"
        bUserOffer="1"
        bWriteIntoManifest="0"
        desc="应用名称"
        required="1"
        showName="AppName" />
        
        <param
        name="QHExchangeRate"
        bUserOffer="1"
        bWriteIntoManifest="0"
        desc="人民币与游戏充值币的默认比例，例如2，代表1元人民币可以兑换2个游戏币，整数"
        placeholderText="兑换比例"
        required="1"
        showName="Rate" />
        
        <param
            name="QHAutoLoginSwitch"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="是否在自动登录的过程中显示切换账号按钮"
            required="0"
            showName="AutologinSwitch" >
            <option value="false" />
            <option value="true" />
        </param>
        
        <param
            name="QHIsAutoLoginNoUI"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="自动登录过程中是否不展示任何UI"
            required="0"
            showName="IsAutoLoginNoUI" >
            <option value="false" />
            <option value="true" />
        </param>
        
        <param
            name="QHIsAutoLoginFailShowUI"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="静默自动登录失败后是否显示登录窗口"
            required="0"
            showName="IsALFailedShowLogin" >
            <option value="true" />
            <option value="false" />
        </param>
        
        <param
            name="QHIsHideWelcome"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="是否隐藏欢迎界面"
            required="0"
            showName="IsHideWelcome" >
            <option value="false" />
            <option value="true" />
        </param>
        
        <param
            name="QHIsShowLoginColse"
            bUserOffer="1"
            bWriteIntoClient="1"
            bWriteIntoManifest="0"
            desc="是否在登陆面板显示关闭按钮"
            required="0"
            showName="IsShowColseIcon" >
            <option value="false" />
            <option value="true" />
        </param>
        
        <param
            name="Orientation"
            bUserOffer="1"
            bWriteIntoManifest="0"
            bWriteIntoClient="1"
            desc="是否横屏显示"
            required="1"
            showName="IsLandscape">
            <option value="false" />
            <option value="true" />
        </param>
    </paramLs>
    
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "qh360"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "qh360"/>
        <operate step = "3" name = "script" from = "script.py" desc = "QHOPENSDK_PRIVATEKEY参数值的生成"/>
    </operateLs>
    
    <pluginLs>
        <plugin name = "UserQH360" typePlugin = "0" desc = "qh360"/>
        <plugin name = "IAPOnlineQH360" typePlugin = "2" desc = "qh360"/>
    </pluginLs>
    <version code = "1014" showVersion = "2.1.4_1.1.6" minClientVer="1.5"
        minFrameworkVer="1.5">
        <![CDATA[2015年7月2日 更新至1.1.6版本 ]]>
    </version>
</config>