<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="100222">
  <paramLs> 
     <param
         name="LongYuan_DebugModel"
         required="1"
         showName="LongYuan_DebugModel"
         desc="LongYuan_DebugModel"
         bWriteIntoManifest="0"
         bUserOffer="1"
         bWriteIntoClient="1">
      <option value="true" />
      <option value="false" />
    </param>
     <param
         name="LongYuan_BackEable"
         required="1"
         showName="LongYuan_BackEable"
         desc="LongYuan_BackEable"
         bWriteIntoManifest="0"
         bUserOffer="1"
         bWriteIntoClient="1">
         <option value="true" />
         <option value="false" />
     </param>
     <param
         name="LongYuan_ShowLoginView"
         required="1"
         showName="LongYuan_ShowLoginView"
         desc="LongYuan_ShowLoginView"
         bWriteIntoManifest="0"
         bUserOffer="1"
         bWriteIntoClient="1">
         <option value="true" />
         <option value="false" />
     </param>
    <param
        name="LONGYUAN_APPID"
        required="1"
        showName="LONGYUAN_APPID"
        desc="LONGYUAN_APPID"
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="ChannelID"
        required="1"
        showName="ChannelID"
        desc="ChannelID"
        bWriteIntoManifest="1"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc=""/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc=""/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc=""/>
    <operate step="4" name="copy" from="ForRes" to="res" desc=""/>
    <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
      <plugin name="UserLongyuan" typePlugin="0" desc="用户插件"/>
      <plugin name="IAPOnlineLongyuan" typePlugin="2" desc="支付插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_2.5.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[no]]>
  </version>
</config>
