<?xml version="1.0" encoding="utf-8"?>
<config>

    <paramLs>

        <param
            name="coco_aid"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="cocoPush"
            required="1"
            showName="coco_aid" />

        <param
            name="coco_cid"
            bUserOffer="1"
            bWriteIntoManifest="0"
            desc="cocoPush"
            required="1"
            showName="coco_cid" />
    </paramLs>

    <operateLs>

        <operate
            name="modifyManifest"
            desc="cocoPush"
            from="ForManifest.xml"
            step="1"
            to="AndroidManifest.xml" />

        <operate
            name="copy"
            desc="cocoPush"
            from="ForRes"
            step="2"
            to="res" />

        <operate
            name="mergeR"
            desc="cocoPush(合并R文件，此步骤需在res目录合并完后才执行)"
            step="3" />
    </operateLs>

    <pluginLs>

        <plugin
            name="PushCoco"
            desc="cocoPush"
            typePlugin="6" />
    </pluginLs>
    <version code = "1005" showVersion = "2.0.4_1.2.0" >
          <![CDATA[
          2014年12月2日更新cocosPush至版本1.2.0<br/>
          1.支持对通知点击行为的反馈<br/>
          2.融合统计SDK<br/>
          3.支持精准推送<br/>
          4.修复bug<br/>
         ]]>
    </version>
</config>