<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "XG_V2_ACCESS_ID" required = "1" desc = "Access_ID" showName = "Access_ID" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "XG_V2_ACCESS_KEY" required = "1" desc = "Access_Key" showName = "Access_Key" bWriteIntoManifest = "1" bUserOffer = "1"/>
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "极光推送"/>
		<operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = "极光推送"/>
	</operateLs>
	<pluginLs>
		<plugin name = "PushXinge" typePlugin = "6" desc = "信鸽推送"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_2.35" >
        <![CDATA[
      11月19号新增信鸽SDK基础版2.35<br/>
    ]]>
    </version>
</config>