<?xml version="1.0" encoding="utf-8"?>
<config pluginId = "600052">
	<paramLs>
		<param name = "Paymentwall_pay_url" required = "1" desc = "PayUrl" showName = "PayUrl" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
		<param name = "Paymentwall_project_key" required = "1" desc = "ProjectKey" showName = "ProjectKey" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
		<param name = "Paymentwall_secret_key" required = "1" desc = "SecretKey" showName = "SecretKey" bWriteIntoManifest = "0" bWriteIntoClient="1" bUserOffer = "1"/>
		<param name="Orientation" required="1" showName="Orientation" desc="横竖屏" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="portrait"/>
            <option value="landscape"/>
        </param>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = ""/>
		<operate step = "2" name = "copy" from = "ForRes" to = "res" desc = ""/>
		<operate step = "3" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	
	<pluginLs>
		<plugin name = "IAPOnlinePaymentwall" typePlugin = "2" desc = "IAPOnlinePaymentwall"/>
	</pluginLs>
    <version code = "1010" showVersion = "2.1.0_1.3.1.1" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[]]>
    </version>
</config>