<?xml version="1.0" encoding="utf-8"?>
<config version="1000" showVersion="2.0.0_3.0.5" date="20140410">
	<paramLs>
	    
	    <param name = "fid" required = "1" desc = "fid,特殊需求" showName = "渠道标识fid" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "cpId" required = "1" desc = "cpId" showName = "cpId" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "cpCode" required = "1" desc = "cpCode" showName = "cpCode" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "AppId" required = "1" desc = "AppId" showName = "AppId" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "Key" required = "1" desc = "Key" showName = "Key" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "companyName" required = "1" desc = "Key" showName = "公司名称" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "telephone" required = "1" desc = "Key" showName = "电话" bWriteIntoClient = "1" bUserOffer = "1" />
	    <param name = "appName" required = "1" desc = "Key" showName = "应用名称" bWriteIntoClient = "1" bUserOffer = "1" />
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "chukong"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "cm_jd"/>
		<operate step = "3" name = "mergeR" desc = "chukong(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "IAPChinaUnicom_single" typePlugin = "2" desc = "chinamobile"/>
	</pluginLs>
</config>