<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="100121">
    <paramLs>
        <param name="ToastAppKey" required="1" showName="AppKey" desc="AppKey" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
        <param name="ToastCompanyID" required="1" showName="CompanyID" desc="ToastCompanyID" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1"/>
        <param name="com.toast.android.analytics.appstore" required="1" showName="appstore" desc="商店名" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
    </paramLs>
    
    <operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = ""/>
        <operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = ""/>
        <operate step = "3" name = "copy" from = "ForRes" to = "res" desc = ""/>
        <operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>
    
    <pluginLs>
        <plugin name="AnalyticsToast" typePlugin="5" desc=""/>
    </pluginLs>

    <version code = "1013" showVersion = "2.1.3_3.2" >
        <requestVersion minClientVer="2.0" minFrameworkVer="2.0"/>
        <![CDATA[更新框架2.0]]>
    </version>
</config>