<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "iOSND91AppId" required = "1" desc = "91的AppId" showName = "AppId" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "iOSND91AppKey" required = "1" desc = "91的AppKey" showName = "AppKey" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "iOSND91Orientation" required = "1" desc = "91初始化界面方向" showName = "Orientation" bWriteIntoManifest = "0" bUserOffer = "1" >
			<option value = "Portrait"/>
			<option value = "PortraitUpsideDown"/>
			<option value = "LandscapeRight"/>
            <option value = "LandscapeLeft"/>
		</param>
		<param name = "iOSND91VersionStatus" required = "1" desc = "版本检测状态" showName = "CheckUpdate" bWriteIntoManifest = "0" bUserOffer = "1">
		    <option value = "NORMAL"/>
			<option value = "STRICT"/>
		</param>
        
        <param name = "iOSND91DebugMode" required = "1" desc = "91测试模式" showName = "DebugMode" bWriteIntoManifest = "0" bUserOffer = "1">
		    <option value = "true"/>
			<option value = "false"/>
		</param>
        <param name = "iOSND91AutoLogin" required = "1" desc = "是否自动登录" showName = "AutoLogin" bWriteIntoManifest = "0" bUserOffer = "1">
		    <option value = "true"/>
			<option value = "false"/>
		</param>
		
		<param name = "callback" required = "1" desc = "支付通知url" showName = "支付通知url" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	<operateLs>
        <operate step = "1" name = "RemoveValidArchs_arm64" desc = "ValidArchs中删除arm64" />
	</operateLs>
	<pluginLs>
		<plugin name = "UserNd91" typePlugin = "0" desc = "nd91"/>
		<plugin name = "IAPOnlineNd91" typePlugin = "2" desc = "nd91"/>
	</pluginLs>
    
	<sysFrameworksLs>
        <sysFrameworks name = "AddressBook.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "CoreGraphics.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "CoreTelephony.framework" path = "xcodeFrameworks" required = "0"/>
        <sysFrameworks name = "QuartzCore.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "SystemConfiguration.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "UIKit.framework" path = "xcodeFrameworks" required = "0"/>
        <sysFrameworks name = "Foundation.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "MessageUI.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "AssetsLibrary.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "AdSupport.framework" path = "xcodeFrameworks" required = "1"/>
        <sysFrameworks name = "libsqlite3.dylib" path = "xcodeUsrlib" required = "1"/>
        <sysFrameworks name = "libz.dylib" path = "xcodeUsrlib" required = "1"/>
    </sysFrameworksLs>
    <version code = "1000" showVersion = "2.0.0_3.2.6.5" >
        <![CDATA[
    12月1日新增nd91插件<br/>

    ]]>
    </version>
</config>