<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
	    <param name = "GAIsDryRun" required = "1" desc = "GoogleAnalytics" showName = "IsDryRun" bWriteIntoManifest = "0" bUserOffer = "1">
	    	<option value = "false"/>
			<option value = "true"/>
		</param>
	    <param name = "GAIsOptedOut" required = "1" desc = "GoogleAnalytics" showName = "IsOptedOut" bWriteIntoManifest = "0" bUserOffer = "1">
			<option value = "false"/>
			<option value = "true"/>
		</param>
		<param name = "ga_trackingId" required = "1" desc = "GoogleAnalytics" showName = "TrackingID" bWriteIntoManifest = "0" bUserOffer = "1"/>
	    <param name = "ga_appName" required = "0" desc = "GoogleAnalytics" showName = "AppName" bWriteIntoManifest = "0" bUserOffer = "1"/>
	    <param name = "ga_appVersion" required = "0" desc = "GoogleAnalytics" showName = "AppVersion" bWriteIntoManifest = "0" bUserOffer = "1"/>
	    <param name = "ga_logLevel" required = "1" desc = "GoogleAnalytics" showName = "LogLevel" bWriteIntoManifest = "0" bUserOffer = "1">
	    	<option value = "warning"/>
			<option value = "error"/>
			<option value = "info"/>
			<option value = "verbose"/>
		</param>
	    <param name = "ga_dispatchPeriod" required = "0" desc = "GoogleAnalytics" showName = "DispatchPeriod" bWriteIntoManifest = "0" bUserOffer = "1" placeholderText ="Defaults to 30 minutes"/>
	    <param name = "ga_sampleFrequency" required = "0" desc = "GoogleAnalytics" showName = "SampleFrequency" bWriteIntoManifest = "0" bUserOffer = "1" placeholderText ="Default is 100.0"/>
	    <param name = "ga_autoActivityTracking" required = "1" desc = "GoogleAnalytics" showName = "AutoTracking" bWriteIntoManifest = "0" bUserOffer = "1">
	    	<option value = "false"/>
			<option value = "true"/>
		</param>
	    <param name = "ga_anonymizeIp" required = "1" desc = "GoogleAnalytics" showName = "AnonymizeIp" bWriteIntoManifest = "0" bUserOffer = "1">
	        <option value = "false"/>
			<option value = "true"/>
		</param>
	    <param name = "ga_reportUncaughtExceptions" required = "1" desc = "GoogleAnalytics" showName = "ReportExceptions" bWriteIntoManifest = "0" bUserOffer = "1">
	        <option value = "false"/>
			<option value = "true"/>
		</param>
	    <param name = "ga_sessionTimeout" required = "0" desc = "GoogleAnalytics" showName = "SessionTimeout" placeholderText ="Default is 30 seconds." bWriteIntoManifest = "0" bUserOffer = "1"/>
	    	    
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "GoogleAnalytics"/>
		<operate step = "2" name = "copy" from = "ForRes" to = "res" desc = "GoogleAnalytics"/>
		<operate step = "3" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
        <operate step = "4" name = "script" desc = "生成analytics.xml"/>
	</operateLs>
	<pluginLs>
		<plugin name = "AnalyticsGoogle" typePlugin = "5" desc = "GoogleAnalytics"/>
	</pluginLs>
</config>