<?xml version="1.0" encoding="UTF-8"?>

<config>
  <paramLs>
    <param
        name="nas_adkey"
        required="1"
        showName="nas_adkey"
        desc="NAS广告key"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    
  </paramLs>
  <operateLs>
      <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc=""/>
      <operate step="2" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="AnalyticsNas" typePlugin="5" desc="统计插件"/>
  </pluginLs>
    <version code = "1000" showVersion = "2.0.0_v3">
  <![CDATA[
      NAS
  ]]>
  </version>

</config>
