<?xml version="1.0" encoding="UTF-8"?>
<config>
  <paramLs>
    <param
        name="RMB_Exchange"
        required="1"
        showName="RMB_Exchange"
        desc="请填写1，或者不填"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"
        placeholderText="默认为1，比如美元，1美元的兑换比例为6.13人民币"/>
        
    <param
        name="googleApplicationID"
        required="1"
        showName="googleApplicationID"
        desc="Google Application ID"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"
        placeholderText="google每个应用对应一个ID"/>
    <param
        name="gcm_senderid"
        required="1"
        showName="gcmSenderid"
        desc="gcmSenderid"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    
  </paramLs>
  <operateLs>
      <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="google"/>
      <operate step="2" name="copy" from="ForRes" to="res" desc="google"/>
      <operate step="3" name="script" desc="google"/>
      <operate step="4" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="IAPOnlineGoogle" typePlugin="2" desc="googleplay支付插件"/>
    <plugin name="UserGoogle" typePlugin="0" desc="google+用户插件"/>
  </pluginLs>
    <version code = "1000" showVersion = "2.0.0_v3">
  <![CDATA[
10月16号googleplay支付接入V3版本</br>
更新内容：</br>
1.加入配置文件</br>
2.加入支付</br>
注意事项：</br>
1.注意目前提供的googleplay的商品id为com.chukongcaiwugp1.iap.tier2和com.chukongcaiwugp1.iap.tier1 测试的时候要用这个</br>
2.包名要求为com.anysdk.sample.googleplay</br>
3.如果出demo包的话 不能使用eclipse自带的debug签名。需要用到自己的签名不然不能购买商品</br>
  ]]>
  </version>

</config>
