<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "gfan_pay_appkey" required = "1" desc = "应用的唯一标识" showName = "支付key" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "gfan_cpid" required = "1" desc = "开发者自定义的应用推广渠道标识" showName = "cpid" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "gfan_uid" required = "1" desc = "注册后的用户id" showName = "用户ID" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "callback" required = "1" desc = "cp方的游戏服务器地址" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "gfan"/>
		<operate step = "2" name = "copy" from = "ForLibs" to = "lib" desc = "gfan"/>
		<operate step = "3" name = "copy" from = "ForRes" to = "res" desc = "gfan"/>
		<operate step = "4" name = "mergeR" desc = "gfan(合并R文件，此步骤需在res目录合并完后才执行)"/>
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserGfan" typePlugin = "0" desc = "gfan"/>
		<plugin name = "IAPOnlineGfan" typePlugin = "2" desc = "gfan"/>
	</pluginLs>
</config>