<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "DKAppId" required = "1" desc = "duoku" showName = "AppId" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "DKAppKey" required = "1" desc = "duoku" showName = "AppKey" bWriteIntoManifest = "0" bUserOffer = "1"/>
		<param name = "DKType" required = "1" desc = "duoku" showName = "GameCategory" bWriteIntoManifest = "0" bUserOffer = "1" >
			<option value = "ONLINE"/>
			<option value = "WEAKLINE"/>
		</param>
		<param name = "DKOrientation" required = "1" desc = "duoku" showName = "Orientation" bWriteIntoManifest = "0" bUserOffer = "1" >
			<option value = "landscape"/>
			<option value = "portrait"/>
		</param>
		<param name = "exchangeRatio" required = "1" desc = "duoku" showName = "兑换比例" bWriteIntoManifest = "0" bUserOffer = "1" />		
		<param name = "gameBiName" required = "1" desc = "duoku" showName = "游戏币名称" bWriteIntoManifest = "0" bUserOffer = "1" />	
		<param name = "DKAppSecret" required = "1" desc = "duoku" showName = "AppSecret" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
		<param name = "callback" required = "1" desc = "duoku" showName = "支付通知地址" bWriteIntoManifest = "0" bUserOffer = "1" bWriteIntoClient = "0"/>
	</paramLs>
	
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "duoku"/>
		<operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "duoku"/>
		<operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "duoku"/>
		<operate step = "4" name = "copy" from = "ForRes" to = "res" desc = "duoku"/>
		<operate step = "5" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
	</operateLs>
	
	<pluginLs>
		<plugin name = "UserDuoKu" typePlugin = "0" desc = "duoku"/>
		<plugin name = "IAPOnlineDuoKu" typePlugin = "2" desc = "duoku"/>
	</pluginLs>
</config>