<?xml version="1.0" encoding="UTF-8"?>
<config>
    <paramLs>
        <param name="BAORUAN_APPID" required="1" showName="AppId" desc="应用id" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="BAORUAN_UNIQUEKEY" required="1" showName="UniqueKey" desc="应用key" bWriteIntoManifest="1"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="BAORUAN_CHANNEL" required="1" showName="Channel" desc="渠道值" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="BaoRuanCId" required="1" showName="cid" desc="支付商户号" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="BaoRuanKey" required="1" showName="key" desc="支付密钥" bWriteIntoManifest="0" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="callback" required="1" desc="anysdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="baoruan"/>
        <operate step="2" name="copy" from="ForRes" to="res" desc="baoruan"/>
        <operate step="3" name="script" desc="baoruan"/>
        <operate step="4" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    <pluginLs>
        <plugin name="UserBaoruan" typePlugin="0" desc="宝软用户插件"/>
        <plugin name="IAPOnlineBaoruan" typePlugin="2" desc="宝软支付插件"/>
    </pluginLs>
</config>