<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="100115">
  <paramLs>    
    <param
        name="appsflyer_logevent_flag"
        required="1"
        showName="是否开启log功能"
        desc="log功能"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="true"/>
        <option value="false"/>
    </param>
    <param
        name="appsflyer_key"
        required="1"
        showName="appsflyerDevKey"
        desc="appsflyerDevKey"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/> 
  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc=""/>
    <operate step="2" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
  	    <plugin name="AnalyticsAppsflyer" typePlugin="5" desc="统计插件"/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_2.5.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2015年8月18日 更新至2.5.0]]>
  </version>
</config>
