<?xml version="1.0" encoding="utf-8"?>
<config pluginId="110008">
	<paramLs>
		<param name = "AppId" required = "1" desc = "AppId" showName = "AppId" bWriteIntoManifest = "0" bUserOffer= "1" bWriteIntoClient="1"/>
        <param name = "AppKey" required = "1" desc = "AppKey" showName = "AppKey" bWriteIntoManifest = "0" bUserOffer= "1" bWriteIntoClient="1"/>
        <param name="Log" required="1" desc="日志输出" showName="Log" bWriteIntoManifest="0" bUserOffer="1" bWriteIntoClient="1">
            <option value="true"/>
            <option value="false"/>
        </param>
        
	</paramLs>
	
	<operateLs>
        <operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "guopan"/>
        <operate step = "2" name = "copy" from = "ForAssets" to = "assets" desc = "guopan"/>
        <operate step = "3" name = "copy" from = "ForLibs" to = "lib" desc = "guopan"/>
         
        <operate step = "4" name = "mergeR" desc = "合并R文件，此步骤需在res目录合并完后才执行" />
    </operateLs>

	<pluginLs>
		<plugin name = "UserGuopan" typePlugin = "0" desc = "guopan"/>
		<plugin name = "IAPOnlineGuopan" typePlugin = "2" desc = "guopan"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至2.0.0版本 ]]>
    </version>
</config>