<?xml version="1.0" encoding="UTF-8"?>

<config pluginId="000090">
  <paramLs>
    <param
        name="clientId"
        required="1"
        showName="ClientId"
        desc="toutiao提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
        
    <param
        name="clientSecret"
        required="1"
        showName="ClientSecret"
        desc="toutiao提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>
    <param
        name="payKey"
        required="1"
        showName="PayKey"
        desc="toutiao提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1"/>  
    <param
        name="pubkey"
        required="0"
        showName="头条pubkey"
        desc="toutiao提供"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="0"/>   
    <param
        name="SDKType" 
        required="1"
        showName="SDKType"
        desc="渠道类型"
        bWriteIntoManifest="0"
        bUserOffer="1"
        bWriteIntoClient="1">
        <option value="NEWS"/>
        <option value="ESSAY"/>
    </param>
        

  </paramLs>
  
  <operateLs>
    <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="toutiao"/>
    <operate step="2" name="copy" from="ForAssets" to="assets" desc="toutiao"/>
    <operate step="3" name="copy" from="ForLibs" to="lib" desc="toutiao"/>
    <operate step="4" name="copy" from="ForRes" to="res" desc="toutiao"/>
    <operate step="5" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
  </operateLs>
  <pluginLs>
    <plugin name="UserToutiao" typePlugin="0" desc=""/>
    <plugin name="IAPOnlineToutiao" typePlugin="2" desc=""/>
  </pluginLs>
  <version code = "1006" showVersion = "2.0.6_2.0" minClientVer="1.5" minFrameworkVer="1.5">
        <![CDATA[2.0.6_7.28]]>
    </version>
</config>
