<?xml version="1.0" encoding="UTF-8"?>
<config pluginId="73">
    <paramLs>
        <param name="YKGAME_APPID" required="1" showName="YKGAME_APPID" desc="游戏ID" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="YKGAME_APPKEY" required="1" showName="YKGAME_APPKEY" desc="游戏KEY" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="YKGAME_PRIVATEKEY" required="1" showName="YKGAME_PRIVATEKEY" desc="游戏私钥" bWriteIntoManifest="1"
               bUserOffer="1" bWriteIntoClient="1"/>
        <param name="YKGAME_APPNAME" required="1" showName="YKGAME_APPNAME" desc="游戏名" bWriteIntoManifest="1" bUserOffer="1"
               bWriteIntoClient="1"/>
        <param name="callback" required="1" desc="rsdk支付结果通知" showName="支付通知地址" bUserOffer="1" bWriteIntoClient="0"/>
    </paramLs>
    
    <operateLs>
        <operate step="1" name="modifyManifest" from="ForManifest.xml" to="AndroidManifest.xml" desc="youku"/>
        <operate step="2" name="copy" from="ForAssets" to="assets" desc="youku"/>
        <operate step="3" name="copy" from="ForLibs" to="lib" desc="youku"/>
        <operate step="4" name="copy" from="ForRes" to="res" desc="youku"/>
        <operate step="5" name="script"  desc="youku"/>
        <operate step="6" name="mergeR" desc="合并R文件，此步骤需在res目录合并完后才执行"/>
    </operateLs>
    
    <pluginLs>
        <plugin name="UserYouku" typePlugin="0" desc="youku用户插件"/>
        <plugin name="IAPOnlineYouku" typePlugin="2" desc="youku支付插件"/>
    </pluginLs>
    <version code = "1012" showVersion = "2.1.2_1.6.7" minClientVer="1.5" minFrameworkVer="1.5">
          <![CDATA[更新框架2.0]]>
    </version>
</config>