<?xml version="1.0" encoding="utf-8"?>
<config>
	<paramLs>
		<param name = "UMENG_APPKEY" required = "1" desc = "umengPush" showName = "AppKey" bWriteIntoManifest = "1" bUserOffer = "1"/>
		<param name = "UMENG_MESSAGE_SECRET" required = "1" desc = "umengPush" showName = "MessageSecret" bWriteIntoManifest = "1" bUserOffer = "1"/>
	</paramLs>
	<operateLs>
		<operate step = "1" name = "modifyManifest" from = "ForManifest.xml" to = "AndroidManifest.xml" desc = "umengPush"/>
		<operate step = "2" name = "script" from = "script.py" desc = "填写包名"/>
	</operateLs>
	<pluginLs>
		<plugin name = "PushUmeng" typePlugin = "6" desc = "umengPush"/>
	</pluginLs>
</config>